.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  margin: 0px, 30px;
}

.header__left,
.header__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left > h4 {
  margin-left: 15px;
  font-weight: 400;
}

.header__logo {
  object-fit: contain;
  height: 60px;
  margin-left: 30px;
}

.header__right {
  margin-right: 50px;
}

.header__right > h4 {
  margin-right: 25px;
  font-weight: 400;
}

.header__right > h4 > a {
  text-decoration: none;
}

.header__right > button {
  background-color: #fc8c14; /* Orange */
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 25px;
}
